<!-- This file provides login informations -->
{% extends 'index.html' %}

{% block title %} {{ log_title }} {% endblock %}
<h1> {{ log_in_temp.welc_title }} </h1>

{% block header %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="{% url 'log_in' %}?next={{ redirect_url }}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value= {{ log_in_temp.button_connect }} />

</form>

{# Button to create account #}


{% endblock %}
